.navbar .navbarCollapse {
  justify-content: flex-end;
  background-color: #000;
}

.navLink {
  position: relative;
  color: rgba(0, 0, 0, 0.45);
  font-family: Inter;
  font-size: 23px;
  padding-left: 12px !important;
  padding-right: 12px !important;
}
.navLink:hover {
  color: black;
}
.navbarBrand {
  color: #000;
  font-family: Inter;
  font-size: 30px;
}
.navbar .dropdown_toggle::after {
  content: none;
}

.navbar .sub_menu:hover .dropdown_menu {
  display: block;
  left: 100%;
  top: 35px;
}
#drop_down{
  position: relative;
  left: 212px;
  top: -50px;
}
